@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #1e2759;
    font-family: 'poppins', sans-serif;
}

li, a, button {
    font-weight: 500;
    font-size: 14px;
    color: rgba(250, 247, 247, 0.945);
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    height: 30px;
    background-color: #486099;
}
h1{
    font-size: 20px;
    color: rgba(250, 247, 247, 0.942);
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}
button {
    flex-wrap: wrap;
    padding: 7px 18px;
    background-color: rgb(13, 155, 191);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.hero-heading{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: 500;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    flex-wrap: wrap;

}

.box img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 220px;
    width: 280px;
    color:#1e2759;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 8px 10px 0px black;
}

  @media (min-width: 768px) { 
    body { 
        font-size: 15px; 
    }
    button{
        padding: 5px 15px;
    }
  }

  
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 18px;
    }
    h1 .hero-heading{
        font-size: 10px;
    }
    button{
        padding: 9px 20px;
    }
    li, a, button{
        font-size: 16px;
    }
    }

  @media (min-width: 1024px) {
    body {
      font-size: 20px;
    }

    h1 {
    font-size: 23px;
    }

    button{
    padding: 11px 20px;
    }

    li, a, button{
        font-size: 18px;
    }
  }
